.jumbotron {
  margin-top: 20px;
}

button {
  cursor: pointer;
}

img {
  margin-bottom: 5px;
}
#cabo, #neworleans, #london, #parkcity, #survey {
  display: none;
}

#cabo h2 {
  color: #51b0a3;
}

#neworleans h2 {
  color: #5eb76e;
}

#london h2 {
  color: #df868f;
}

#parkcity h2 {
  color: #F7A979;
}
